In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('student.db')
conn

In [4]:
sql = """
    CREATE TABLE student
    (
    name text,
    no integer,
    addr text,
    gender text
    )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS students")
c.execute(sql)
c.close()

OperationalError: table student already exists

### 여러개의 데이터를 넣고 조회해보기

In [5]:
sql = """
 INSERT INTO student VALUES
 (?, ?, ?, ?)
"""
c = conn.cursor() # 객체 생성
c.execute(sql, ('학생2', 2, '안양', 'female'))
data = [
 ('학생3', 3, '경기도', 'female'),
 ('학생4', 4, '춘천', 'female'),
 ('학생5', 5, '대구', 'male')
]
c.executemany(sql, data)
c.close()
conn.commit()

### 데이터 조회하기

In [6]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터 확인
print( c.fetchone() )

('학생1', 1, '서울 강남구 일원동', 'male')

### 여러개의 데이터
- fectmany(개수) : 개수 만큼 가져온다.
- fetchall() : 모든 데이터를 가져온다.

In [7]:
for s in c.fetchmany(10):
    print(s)

('학생1', 1, '서울 강남구 일원동', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')

In [8]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
for s in c.fetchall():
 print(s)

('학생1', 1, '서울 강남구 일원동', 'male')
('학생1', 1, '서울 강남구 일원동', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')

### 실습 3-1
    * student 안에 데이터를 7개 넣고,
    * 첫번째 방법, fetchmany(10)을 이용해서 검색해보기
    * 두번째 방법, fetchall() 검색해보기

In [9]:
sql = """
 INSERT INTO student VALUES
 (?, ?, ?, ?)
"""
c = conn.cursor() # 객체 생성
data = [
 ('학생6', 3, '경기도', 'male'),
 ('학생7', 4, '춘천', 'male'),
]
c.executemany(sql, data)
c.close()
conn.commit()

In [11]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

In [12]:
for s in c.fetchmany(10):
    print(s)

('학생1', 1, '서울 강남구 일원동', 'male')
('학생1', 1, '서울 강남구 일원동', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')
('학생6', 3, '경기도', 'male')
('학생7', 4, '춘천', 'male')

In [13]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
for s in c.fetchall():
 print(s)

('학생1', 1, '서울 강남구 일원동', 'male')
('학생1', 1, '서울 강남구 일원동', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')
('학생6', 3, '경기도', 'male')
('학생7', 4, '춘천', 'male')

In [14]:
c.close()

In [18]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

for s in c.fetchmany(10):
    print(s)
c.close()

('학생1', 1, '서울 강남구 일원동', 'male')
('학생1', 1, '서울 강남구 일원동', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')
('학생5', 5, '대구', 'male')
('학생6', 3, '경기도', 'male')
('학생7', 4, '춘천', 'male')

In [19]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

for s in c.fetchmany(5):
    print(s)
c.close()

('학생1', 1, '서울 강남구 일원동', 'male')
('학생1', 1, '서울 강남구 일원동', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '경기도', 'female')
('학생4', 4, '춘천', 'female')