In [3]:
import plotly
import cufflinks as cf
import pandas as pd
import numpy as np

In [4]:
print(plotly.__version__)
print(cf.__version__)
print(pd.__version__)
print(np.__version__)

4.11.0
0.17.3
1.0.5
1.18.5

In [5]:
# 오프라인 모드에서도 인터렉티브한 그래픽을 가능하도록 하기
# Enabling the offline mode for interactive plotting locally
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)
cf.go_offline()

# 데이터 생성 및 plot

In [6]:
df = pd.DataFrame(np.random.randn(100,4), # 100개 4개 컬럼
 columns='A B C D'.split())
print(df.shape)
df.head()

(100, 4)

          A         B         C         D
0 -0.818761  0.264401  0.236502 -0.155441
1 -0.514604 -0.117820  0.589237 -0.026126
2 -1.132744 -0.827964  1.454335 -1.213054
3  0.237638  1.104746 -1.299092  0.527787
4  0.128790 -0.748007  1.193754 -0.167451

In [7]:
df2 = pd.DataFrame({'items':['bag','apple','cap'],'Values':[32,43,50,]})
df2

   items  Values
0    bag      32
1  apple      43
2    cap      50

### 선 그래프(Line Plot)

In [ ]:
df.iplot()

In [ ]:
# 산점도
df.iplot(kind='scatter', x='A',y='B',mode='markers',size=20)

In [ ]:
df2.iplot(kind='bar', x='items', y='Values')